name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  PROJECT_NAME: uwu-tray

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: linux-amd64
            runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - name: win-amd64
            runner: windows-latest
            target: x86_64-pc-windows-msvc
          - name: macos-amd64
            runner: macos-latest
            target: x86_64-apple-darwin
          - name: macos-arm64
            runner: macos-latest
            target: aarch64-apple-darwin

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: "${{ matrix.target }}"
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Install dependencies
        if: matrix.runner == 'ubuntu-latest'
        run: sudo apt-get install -y libgtk-3-dev libayatana-appindicator3-dev
      - name: Build binary
        run: cargo build --verbose --locked --release --target ${{ matrix.target }}
      - name: Find artifact
        shell: bash
        run: |
          ARTIFACT_SUFFIX=""
          if [[ "${{ matrix.runner }}" == "windows-latest" ]]; then
            ARTIFACT_SUFFIX=".exe"
          fi
          
          ARTIFACT_OUTPUT="target/${{ matrix.target }}/release/${PROJECT_NAME}${ARTIFACT_SUFFIX}"
          echo "ARTIFACT_OUTPUT=$ARTIFACT_OUTPUT" >> $GITHUB_ENV
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PROJECT_NAME }}-${{ github.ref_name }}-${{ matrix.name }}
          path: ${{ env.ARTIFACT_OUTPUT }}
          if-no-files-found: error